* {
  margin: 0px;
  padding: 0px;
  display: block;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

#game {
  position: absolute;
  height: 800px;
  width: 800px;
  /* background-color: bisque; */
  overflow: hidden;
}

.trash {
  display: inline-block;
  width: 10%;
  height: 10%;
  background-color: black;
  z-index: 1;
  position: absolute;
}

.banana {
  display: inline-block;
  width: 10%;
  height: 10%;
  /* background-color: blue; */
  z-index: 1;
  position: absolute;
}

.car {
  display: inline-block;
  width: 10%;
  height: 10%;
  /* background-color: green; */
  z-index: 1;
  position: absolute;
}

.spaceship {
  display: inline-block;
  width: 20%;
  height: 10%;
  /* background-color: yellow; */
  z-index: 1;
  position: absolute;
}

.stone {
  display: inline-block;
  width: 10%;
  height: 10%;
  /* background-color: rgb(255, 0, 212); */
  z-index: 1;
  position: absolute;
}

.among {
  display: inline-block;
  width: 10%;
  height: 10%;
  /* background-color: red; */
  z-index: 1;
  position: absolute;
  animation: rotation 3s infinite linear;
}

#player {
  display: block;
  width: 5%;
  height: 10%;
  z-index: 2;
  /* background-color: teal; */
  position: absolute;
}

.earth {
  display: block;
  width: 100%;
  height: 50%;
  top: 50%;
  z-index: 0;
  position: absolute;
}

.atmosphere {
  display: block;
  width: 100%;
  height: 10%;
  top: 40%;
  z-index: 0;
  background-color: rgb(135, 206, 250);
  position: absolute;
}

.space {
  display: block;
  width: 100%;
  height: 40%;
  /* top: 10%; */
  z-index: 0;
  /* background-color: rgb(135, 206, 250); */
  position: absolute;
}

.landing {
  width: 10%;
  height: 10%;
  z-index: 1;
  background-color: rgb(57, 56, 149);
  position: absolute;
}

.score {
  display: block;
  /* width: 20%; */
  height: 10%;
  z-index: 10;
  position: absolute;
  top: 95%;
  margin-left: 5px;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.time {
  display: block;
  height: 10%;
  z-index: 10;
  position: absolute;
  top: 0;
  margin-left: 5px;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
}

.sat {
  display: block;
  width: 20%;
  height: 10%;
  z-index: 10;
  position: absolute;
  top: 90%;
  margin-left: 5px;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.lives-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  /* top: 95%; */
}

.heart {
  display: block;
  z-index: 1;
  width: 40px;
  height: 40px;
}

.rocket {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  height: 80px;
  width: 80px;
  z-index: 2;
}

.menu-screen {
  position: absolute;
  background-color: #212121;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 11;
}

.logo {
  width: 25%;
  margin-top: 20%;
}

button {
  margin-top: 2.5%;
  width: 50%;
  /* height: 40px; */
  background: inherit;
  border-radius: 40px;
  border: 0px;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  padding: 0 20px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}

.invis {
  visibility: hidden;
}

#finish_score {
  display: block;
  margin-top: 2.5%;
  height: 10%;
  z-index: 10;
  /* margin-left: 5px; */
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
